version: "3.0.6"
services:
  server:
    build: .
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - mysqldb
  mysqldb:
    image: "mysql:8.0.33"
    restart: always

    #    ports:
    #      - 3307:3306
    environment:
      MYSQL_DATABASE: SpringAuthentication
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_PASSWORD:
      MYSQL_ROOT_PASSWORD:

